<!DOCTYPE html>
<!--[if lt IE 7]><html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html itemscope itemtype="http://schema.org/Article" class="no-js"><<![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en-US"><![endif]-->
  <head>
    <title>Node Game Test</title>
    <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="/css/screen.css" />
  </head>
  <body>
    {{{body}}}
    
    <script src="socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/js/init.js"></script>
  </body>
</html>