<h2 class="team">Team <span class="team-name"></span></h2>
<table id="game" class="disabled">
  <tr>
    <td id="cell1" class="cell"></td>
    <td id="cell2" class="cell"></td>
    <td id="cell3" class="cell"></td>
  </tr>
  <tr>
    <td id="cell4" class="cell"></td>
    <td id="cell5" class="cell"></td>
    <td id="cell6" class="cell"></td>
  </tr>
  <tr>
    <td id="cell7" class="cell"></td>
    <td id="cell8" class="cell"></td>
    <td id="cell9" class="cell"></td>
  </tr>
</table>
<div class="your-turn popover">
  <h3>Your Turn!</h3>
</div>
<div class="waiting popover">
  <h3>Waiting...</h3>
</div>
<div class="first popover">
  <h3>You're First!</h3>
</div>
<div class="winner popover">
  <h3>Winner!</h3>
</div>
<div class="loser popover">
  <h3>Loser!</h3>
</div>